
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    color: #333;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #E9E9F3;
}

.auth_section {
    width: 320px;
    height: 360px;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    background-color: white;
}

.auth_section article div:nth-child(1) {
    height: 40px;
    margin-bottom: 20px;
    padding: 5px 0;
}

.auth_section article div:nth-child(1) img {
    display: inline-block;
    height: 90%;
    width: auto;
}

.title-auth-article {
    display: inline-block;
    padding-left: 10px;
}

.title-auth-article {
    font-size: 18px;
    font-weight: 600;
    padding-top: 10px;
}

.auth_section article div:nth-child(2) {
    height: 250px;
    border: 1px solid #DEDEDE;
    border-radius: 20px;
    padding: 10px;
}


.auth_section article div:nth-child(2) p {
    padding-top: 20px;
    font-size: 14px;
}

.btn-google {
    width: 80%;
    display: inline-block;
    background-color: #066fd1;
    margin-top: 80px;
    color: white;
    padding: 4px;
    font-weight: 600;
    text-decoration: none;
    border: none;
    border-radius: 16px;
    height: 30px;

}


